<h1 class="title">Today's weather in {{name}}:</h1>
<ul class="weatherData">
    <li class="description">Currently: {{description}} </li>
    <li class="temperature">Temperature: {{temp}}°C </li>
    <li class="feelsLike">Feels like: {{feels_like}}°C</li>
    <li class="sunRise">Sunrise: {{sunRise}}</li>
    <li class="sunSet">Sunset: {{sunSet}}</li>
</ul>
{{!-- <a class="btn-style" href="/weather">What's the weather?</a> --}}